nav,
.nav-links {
  display: flex;
}

nav {
  z-index: 100;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  height: var(--var-navheight);
  padding-block: 2rem;
  padding-inline: 5rem;
  transform: translateY(-20px);
  animation: slidedown 0.5s ease forwards 2.5s;
  opacity: 0;
}

@keyframes slidedown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-links {
  list-style: none;
  gap: 2rem;
  font-size: var(--size-base);
}

.nav-links a {
  width: auto;
  height: auto;
  padding-inline: 0.5rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: var(--dark-text);
  opacity: 0.6;
}

.email_container {
  color: var(--dark-text);
  opacity: 0.6;
}

.email_container:hover {
  opacity: 1;
}

.nav-links a:hover {
  opacity: 1;
}

#desktop-nav {
  display: flex;
  justify-content: space-between;
}

#desktop-nav > * {
  flex: 1;
}

#desktop-nav > *:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#desktop-nav > *:last-child {
  display: flex;
  justify-content: flex-end;
}

.nav-logo {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  transition: all 0.3s ease;
  color: pink;
}

.nav-logo:hover {
  scale: 1.1;
}

.nav-logo path:nth-child(1) {
  stroke-dasharray: 1600px;
  stroke-dashoffset: 1600px;
  animation: line-anima 2s ease forwards 2.5s;
}
.nav-logo path:nth-child(2) {
  stroke-dasharray: 1256.81px;
  stroke-dashoffset: 1256.81px;
  animation: line-anima 2s ease forwards 2.5s;
}

@keyframes line-anima {
  to {
    stroke-dashoffset: 0;
  }
}
