#hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero > * {
    /* border: 1px solid black; */
    height: 100%;
    flex: 1;
}

.picture-container {
    display: flex;
    height: 300xp;
    width: 300px;
    margin: auto 0;
    border-radius: 5px;
    overflow: hidden;
}
.hero-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-details > *:nth-child(3) {
    margin-top: 1rem;
}

.hero-details p {
    font-weight: 400;
}

.hero-intro-1 {
    font-weight: 600;
    text-align: center;
}

.hero-intro-1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.hero-intro-2 {
    font-size: 1.5rem;
    /* margin-bottom: 0.5rem; */
}

.hero-name {
    font-size: 3rem;
    text-align: center;
}

.socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 2rem;
    gap: 1rem;
}


