@media (max-width: 768px) {
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: flex;
  }
}

@media (min-width: 1440px) {
  section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .fullwidth_bg {
    /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
  }
}
