.works {
  color: var(--dark-text);
  position: relative;
}

.image-text {
  position: absolute;
}
.image-wrapper {
  height: 20rem;
  width: 10rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s;
}

.image-wrapper:hover {
  width: 20rem;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image-track {
  margin-block: 2rem;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
