.works_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.works_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    padding: 2rem;
}

.works_wrapper > * {
    flex: 1;
    border-right: 1px solid black;
}

.works_wrapper > *:last-child {
    border-right: none
}


.works_section> *:nth-child(3){
    margin-top: 2rem;
}

.works_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}